body { 
    font-family: 'Montserrat', sans-serif;
}

* {
    margin: 0 auto;
    padding: 0;
}

.nome-site {
    color: aliceblue;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    margin-left: 100px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    height: 8vh /*viewport height: unidade responsiva que se adapta a altura da janela de visualizção*/
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    font-size: 18px;
    margin-left: 1px;
}

.nav-list li a {
    font-weight: bold;
    color: aliceblue;
    display: inline-block;
    padding: 29px;
    text-decoration: none;
    transition: background .6s;
}

.nav-list li a:hover {
    background-color: blue;
}

h1 {
    color: darkred;
    margin-left: 325px;
    margin-top: 175px;
    font-size: 35px;
    font-weight: bolder;
}

h2 {
    color: darkgrey;
    margin-left: 325px;
    margin-top: 35px;
    font-size: 25px;
    font-weight: bold;
    
}

.autor {
    width: 3%;
    margin-left: 325px;
    margin-top: 35px;
    display: block;
}

h3 {
    color: black;
    font-size: 25px;
    font-weight: bold;
    margin-top: -40px;
    margin-left: 390px;
}

#wallpaper {
    width: 38%;
    margin-top: 35px;
    margin-left: 325px;
}

#THPS2 {
    color: darkred;
    margin-left: 325px;
    margin-top: 90px;
    font-size: 35px;
    font-weight: bolder;
}

.THPS2 {
    width: 38%;
    margin-top: 20px;
    margin-left: 325px;
}

p {
    line-height: 30px;
    margin-top: 10px;
    margin-left: 325px;
}

#GH3LOR {
    color: darkred;
    margin-left: 325px;
    margin-top: 90px;
    font-size: 35px;
    font-weight: bolder;
}

.GH3LOR {
    width: 38%;
    margin-top: 20px;
    margin-left: 325px;
}

#MVSC2 {
    color: darkred;
    margin-left: 325px;
    margin-top: 90px;
    font-size: 35px;
    font-weight: bolder;
}

.MVSC2 {
    width: 38%;
    margin-top: 20px;
    margin-left: 325px;
}

#CB2 {
    color: darkred;
    margin-left: 325px;
    margin-top: 90px;
    font-size: 35px;
    font-weight: bolder;
}

.CB2 {
    width: 38%;
    margin-top: 20px;
    margin-left: 325px;
}

#AC2 {
    color: darkred;
    margin-left: 325px;
    margin-top: 90px;
    font-size: 35px;
    font-weight: bolder;
}

.AC2 {
    width: 38%;
    margin-top: 20px;
    margin-left: 325px;
}

#BAC {
    color: darkred;
    margin-left: 325px;
    margin-top: 90px;
    font-size: 35px;
    font-weight: bolder;
}

.BAC {
    width: 38%;
    margin-top: 20px;
    margin-left: 325px;
}

#GOW4 {
    color: darkred;
    margin-left: 325px;
    margin-top: 90px;
    font-size: 35px;
    font-weight: bolder;
}

.GOW4 {
    width: 38%;
    margin-top: 20px;
    margin-left: 325px;
}

#POPSOT {
    color: darkred;
    margin-left: 325px;
    margin-top: 90px;
    font-size: 35px;
    font-weight: bolder;
}

.POPSOT {
    width: 38%;
    margin-top: 20px;
    margin-left: 325px;
}